version: '3.8'

services:
  mongo-db:
    image: mongo:latest
    container_name: my-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  api:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo-db
    environment:
      - MONGO_URI=mongodb://mongo-db:27017/notes
  web:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api
volumes:
  mongo-data:
